.brand {
    font-family: 'Pacifico';
}

.glyphicon-chevron-right, .glyphicon-chevron-left {
    color: black;
}

.carousel-control.left {
  background-image: none;
}
.carousel-control.right {
  background-image: none;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  margin: 20px 0px;
  text-align: center;
}