{% set version = "a" %}
{% set active_page = active_page|default('index') -%}

<!DOCTYPE html>
<html lang="en">
  <head>

<!-- Google Analytics Content Experiment code -->

<!-- <script>function utmx_section(){}function utmx(){}(function(){var
k='85355649-0',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script> -->

<!-- End of Google Analytics Content Experiment code -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
    <title>{% block title %}WonderCal: Easy Group Scheduling{% endblock %}</title>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-49663911-2', 'wondercal.com');
  ga('send', 'pageview');

</script>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Web fonts -->
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

    <!-- Custom styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

  </head>

<!-- NAVBAR
================================================== -->
{% block navbar %}
  <body>
    <div class="navbar-wrapper">
      <div class="container">
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand brand" href="/{% if "b" == version %}2{% endif %}">WonderCal</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li {% if "index" == active_page %}class="active"{% endif %}><a href="/{% if "b" == version %}2{% endif %}">Home</a></li>
                <li {% if "team" == active_page %}class="active"{% endif %}><a href="/team{% if "b" == version %}2{% endif %}">Our Team</a></li>
                <li {% if "faq" == active_page %}class="active"{% endif %}><a href="/faq{% if "b" == version %}2{% endif %}">FAQ</a></li>
              </ul>
              <p class="navbar-text navbar-right"><a href="#" class="navbar-link">Login</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
    <!-- Main Sections
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    {% block content %}

    <div class="container main-content">
    <iframe name="submitter" src="" style="visibility:hidden; display:none;"></iframe>

      <!-- START THE SECTIONS -->

      <!-- First Section (Intro) -->
      <div class="row section" style="background-color:#75caeb;">
        <div class="col-md-5">
          <h1 class="section-heading"><span class="brand">WonderCal</span><br><span class="text-muted">One, Two, Scheduled!</span></h1>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>


          <form class="form-inline" role="form" action="https://docs.google.com/forms/d/1jipOWP0CDARrRcIdVQB_0k9O_CuPSWIIggxIjE_o96M/formResponse" method="POST" id="ss-form" target="submitter" onsubmit="">
          <div class="form-group">
            <div class="col-lg-5">
              <input type="email" class="form-control input-lg" placeholder="Enter email" name="entry.548568861" value="" id="entry_548568861" dir="auto">
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-2">
              <button type="submit" name="submit" value="Submit" class="btn btn-lg btn-primary" onClick="window.location.href = '/thanks';">SIGN UP FOR THE BETA</button>
            </div>
          </div>
        </form>

        </div>
        <div class="col-md-7">
          <img class="section-image img-responsive" data-src="holder.js/650x450/text:Demo Video (650x450)" alt="demo video placeholder">
        </div>
      </div>

      <!-- Second Section -->
      <div class="row section" style="background-color:#ffffff;">

        <div class="col-md-7">
          <img class="section-image img-responsive" src="{{ url_for('static', filename='img/WonderCal-09.png') }}" alt="coordinating group meeting">
        </div>
        <div class="col-md-5">
          <h2 class="section-heading">Why do you need WonderCal?</h2>
          <p class="lead">Trying to schedule a group meeting can feel like herding cats!  You’d think everyone having a smartphone and calendar with them all the time would help, but these calendars don’t talk to each other! The result: <em>zillions of emails/texts or tedious, manual tools.</em></p>
        </div>
      </div>

      <!-- Third Section -->
      <div class="row section" style="background-color:#eeeeee;">
        <div class="col-md-5">
          <h2 class="section-heading">What does it do?</h2>
          <p class="lead">Wondercal eliminates this painful back and forth, by learning when everyone is busy and scheduling around these times! With WonderCal, you know if people are free <em>before</em> you try and schedule the meeting.</p>
        </div>
        <div class="col-md-7">
          <img class="section-image img-responsive" src="{{ url_for('static', filename='img/WonderCal-10.png') }}" alt="group connects to wondercal">
        </div>
      </div>

      <!-- Fourth Section -->
      <div class="row section" style="background-color:#ffffff">
        <div class="col-md-7">
          <img class="section-image img-responsive" src="{{ url_for('static', filename='img/WonderCal-11.png') }}" alt="wondercal schedules event">
        </div>
        <div class="col-md-5">
          <h2 class="section-heading">How does it work?</h2>
          <p class="lead">Step 1 - Tell WonderCal when and with whom  you want to meet. If they’ve never used WonderCal before, we’ll ask them to link their calendars.</p>
          <p class="lead">Step 2 - WonderCal will use what it knows about the participants’ availability to pick the best times to meet.</p>
          <p class="lead">Step 3 - Pick the time you like from these options, and WonderCal will send an invitation so no one forgets.</p>
        </div>
      </div>


      <!-- Button Section -->
          <form class="form-inline" role="form" action="https://docs.google.com/forms/d/1jipOWP0CDARrRcIdVQB_0k9O_CuPSWIIggxIjE_o96M/formResponse" method="POST" id="ss-form" target="submitter" onsubmit="">
          <div class="form-group">
            <div class="col-lg-5">
              <input type="email" class="form-control input-lg" placeholder="Enter email" name="entry.548568861" value="" id="entry_548568861" dir="auto">
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-2">
              <button type="submit" name="submit" value="Submit" class="btn btn-lg btn-primary" onClick="window.location.href = '/thanks';">SIGN UP FOR THE BETA</button>
            </div>
          </div>
        </form>

      <!-- /END THE SECTIONS -->
      {% endblock %}
    </div><!-- /.container -->

    <!-- Footer
    ================================================== -->
    {% block footer %}
    <footer>
      <p>&copy; 2014 WonderCal</p>
    </footer>
    {% endblock footer %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block bootstrap_js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/docs.min.js') }}"></script>
    {% endblock %}
  </body>
</html>
