{% extends "index.html" %}

{% set active_page = "team" %}
{% set version = "a" %}
{% block title %}WonderCal: Our Team{% endblock %}

    <!-- Our Team Content
    ================================================== -->
    {% block content %}
    <div class="container">
      <div class="row section">
        <h2>Our Team</h2>
        <hr>

        <!-- Two rows of team bios -->
        <div class="row">
          <div class="col-lg-4">
            <img class="avatar" src="{{ url_for('static', filename='img/james.png') }}" alt="James Headshot">
            <h3>James</h3>
            <p>James is co-founder and CTO of SmartBod, a startup applying machine learning and intelligence to women’s health. He is an entrepreneur at Foundry@CITRIS, QB3 (California Institute for Quantitative Biosciences), and Free Ventures, and is president of the Berkeley Entrepreneurs Association. James managed product (predictive models, analytics, and financial tools) development at Bridgewater Associates, leading a team of four analysts, and in coordination with sales/client teams helped oversee more than $30 billion in client relationships. He has worked with nonprofits all over the world on technology and operations, as a co-founder and lead consultant at SEEDS Consulting, and is a current board director at WomensTrust, a microfinance organization in Ghana. James is an alumnus of Dartmouth, Berkeley, and Hacker School.</p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="avatar" src="{{ url_for('static', filename='img/cameron.png') }}" alt="Cameron Headshot">
            <h3>Cameron</h3>
            <p>Cameron is a master’s student at the UC Berkeley School of Information, where she is focusing on user experience design and information visualization. Before starting the Master of Information Management and Systems program at Berkeley, she was a grants management specialist at the National Park Service and a freelance cartographer.</p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="avatar" src="{{ url_for('static', filename='img/joe.png') }}" alt="Joe Headshot">
            <h3>Joe</h3>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->

        <div class="spacer50"></div>

        <div class="row">
          <div class="col-lg-4">
            <img class="avatar" src="{{ url_for('static', filename='img/irina.png') }}" alt="Irina Headshot">
            <h3>Irina</h3>
            <p>Irina is currently a student at UC Berkeley, pursuing a Master's in Information Management and Systems degree. Right before Berkeley, Irina mostly worked in the finance. She held such positions as a Business Analyst at GoPago Inc which was later acquired by Amazon. Prior to GoPago she worked as a Financial Advisor at Morgan Stanley and as a Financial Analyst at M Financial Group. She is also in the Leadership team at AmBAR (American Association of Russian-Speaking Professionals) located in Palo Alto, CA.</p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="avatar" src="{{ url_for('static', filename='img/vivek.png') }}" alt="Vivek Headshot">
            <h3>Vivek</h3>
            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->

        <div class="spacer50"></div>

      </div>
    </div>
    {% endblock %}
